<% include blocks/header.ejs %>
    <section id ='admin'>
    <div class="containerForm">
    <form name = 'login' class="adminForm">
        <div class="form-group">
            <p><strong>Admin panel</strong></p>
             <p class ='stat'></p>
          <input name='login' type="email" class="login form-control"aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <input name='password' type="password" class="password form-control" placeholder="Password">
          <%# <input class='detected-change' name='state' value ='login'> %>
        </div>
        <button data-type='connect' type="submit" class="btn btn-primary btn-form">ENTER</button>
      </form>
    </div>
    </section>

<script src= "/jsClient/index.js" type='module'></script>
</html>